"*":
  "atom-html-preview": {}
  "autoupdate-packages":
    lastUpdateTimestamp: 1485794976806
  core:
    disabledPackages: [
      "filecolor"
      "atom-minify"
      "latex-autocomplete"
      "markdown-preview-plus"
      "preview-inline"
      "atom-html-preview"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 20
    softWrap: true
  "exception-reporting":
    userId: "bdd510a8-4c6a-d621-1d33-b8d324b2a355"
  "genesis-ui":
    distractionFree: {}
  "git-plus":
    general:
      _analyticsUserId: "e26de516-af8d-4a4b-b533-2ae1b6f7b189"
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useLazyHeaders: false
  "markdown-themeable-pdf": {}
  pigments: {}
  welcome:
    showOnStartup: false
